name: Deploy to Oracle VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy using SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          
          
          cd /mnt/ancien_disque/home/ubuntu/Protfolio
          git pull origin main
          npm install
          npm rebuild sqlite3
          rm -rf dist/
          npm run build
          node fix_db_schema.cjs || echo "Migration already applied or not needed"
          pm2 restart all || pm2 start server/index.js --name "portfolio-server"
